.footer{background:#4e45451a}
.box1{height:80; width:110; background:#1eca8aab;}
.box2{height:80; width:110; background:#2367e2b5; color:white;}
.img{width:100%; height: 30%}
.bdr{padding:12 20 12 20;margin: 0px; border:1px solid; border-color: #0000001a; }
.fpd{padding: 3% 0 3% 0} 
.formbg{padding: 4%; border: 1px solid; border-color: #0000001a;}
.h6box{top: 36%;
    left: 26%;
    position: absolute;}